/* Override */
h1,
h2,
h3 {
    margin: unset;
}

button {
    margin-bottom: unset;
}

.no-style {
    all: unset;
}

/** Global **/
body {
    /* max-width: 1000px; */
    max-width: 70vw;
    display: grid;
    grid-template-areas:
        "nav nav nav"
        "folders bookmarks filters"
    ;
}

nav {
    grid-area: nav;
    margin-bottom: 2em;
}

dialog {
    margin-top: 100px;
}

.w-full {
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.m-l-auto {
    margin-left: auto;
}

.m-b-1 {
    margin-bottom: 1em;
}

.m-b-2 {
    margin-bottom: 2em;
}

main {
    padding-right: 2em;
    width: 30vw;
}

.red {
    color: rgb(231, 126, 126);
}

/* Filters */

#filters {
    grid-area: filters;
    width: 15vw;
    min-width: 300px;
}

#filters input[type="radio"] {
    cursor: pointer;
}

#tags {
    display: flex;
    margin-top: 0.5em;
    flex-wrap: wrap;
}

#tags .tag {
    cursor: pointer;
    opacity: 0.5;
}

#tags .tag:hover {
    opacity: 1;
}

/* Folders */

#folders {
    grid-area: folders;
    width: 20vw;
}

/* Bookmark */
.bookmark {
    display: flex;
    flex-direction: column;
    padding: 0.5em;

    margin-bottom: 1em;
    border-radius: 6px;
}

.bookmark:hover {
    background-color: var(--background-alt);
}

.bookmark h3,
.bookmark small {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.favicon {
    aspect-ratio: 1/1;
    width: 1.17em;
    margin-right: 0.5em;
}

.tags {
    display: flex;
    margin-top: 0.5em;
}

.tag {
    background-color: var(--background);
    border-radius: 10px;
    margin: 4px;
    margin-left: 0px;
    padding: 4px 8px;
    width: max-content;
}

/* Tag input */
#autocomplete {
    position: absolute;
}

.color-fix {
    color: var(--form-text) !important;
    background-color: var(--background) !important;
    border-color: var(--background-alt) !important;
    margin: unset !important;
}

.color-fix ul.options {
    margin: unset;
    border-radius: 0 0 1ex 1ex;
}

.input-like {
    color: var(--form-text) !important;
    background-color: var(--background) !important;
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px !important;
    padding: 10px !important;
    border: none !important;
    border-radius: 6px !important;
    --webkit-appearance: none;

    height: 19px !important;
    display: flex !important;
    flex-wrap: wrap !important;
}

/* Settings */

.url-action {
    background-color: var(--background-alt);
    border-radius: 6px;
}

#add-bookmark-modal {
    width: 600px;
}

:root {
    --sms-options-bg: var(--background-body);
    --sms-border-radius: 6px;
}